/* Sample asset */
html, body{
    font-family: "intel clear",Arial,Verdana,Helvetica,sans-serif;
}
dashboard {
    width:80% !important;
}

.logo-hand{
    background: url(img/Logo-hand.png) no-repeat -8px -4px;
    width: 46px;
    height: 33px;
    display: block;
}

.md-toolbar-tools h1{color: #FFFFFF}
.hori-li{clear:both}
.hori-li li{float: left; list-style: none}
.hori-li li label{margin-right: 15px;}